{% extends 'layout/layout.html' %}

{% block page %}
<section class="container">
  <div style="max-width:330px;margin:100px auto 0px;">
    <h5 style="margin-bottom:25px;text-align:center;">L O G I N</h5>
    {% include 'layout/message.html' %}
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="username"><i class="fa fa-user" aria-hidden="true"></i> Username</label>
        <input type="text" name="_username" class="form-control" id="username" value="{{ request.session.guest }}">
      </div>
      <div class="form-group">
        <label for="password"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
        <input type="password" name="_password" class="form-control" id="password" value="">
      </div>
      <div style="margin-top:15px;">
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
      </div>
    </form>
  </div>
</section>
{% endblock page %}