{% extends 'layout/layout.html' %}
{% load custom_tags %}

{% block page %}
{% include 'layout/header.html' %}
<div class="container-fluid p-3" style="min-height:400px">
  <!-- messages -->
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success"><i class="fa fa-check" aria-hidden="true"></i> {{ message }}</div>
      {% elif message.tags == 'error' %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <!-- add user account -->
  <section>
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h4 style="padding:5px 0px 35px;">Change Admin Password</h4>
          <div class="pull-right">
          </div>
        </div>
        <form class="py-3" method="post" action="{% url 'update_admin_pass' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="_password" class="form-control" id="password">
          </div>
          <div style="margin-top:15px;">
            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-refresh" aria-hidden="true"></i> Update Password</button>
          </div>
        </form>            
      </div>
    </div>
  </section>
</div>
{% include 'layout/footer.html' %}
{% endblock page %}